body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    line-height: 1.5em;
}

a {
    color: $darktext;
    &:hover {
        color: $hovertext;
    }
}

#crm-container {
    fieldset {
        border-top: none;
        legend {
            font-family: $sansseriffont;
            font-size: 1.2em;
            font-weight: normal;
            padding: .5em 0 1em 0;
            text-transform: uppercase;
            color: $darktext;
        }
    }
    input.crm-form-submit {

    }
    a {
        color: $darktext!important;
        &:hover {
            text-decoration: underline;
            color: $hovertext!important;
        }
    }
    div.header-dark {
        -webkit-border-radius: 0!important;
           -moz-border-radius: 0!important;
                border-radius: 0!important;

        -khtml-border-radius: 0!important;
    }
    table {
        font-size: 1em;
        tr {
            td:first-child {
                padding-left: 0px;
            }
        }
    }
    .crm-public-footer {
        display: none;
    }
}

#page {
    margin: 0 auto;
}

header {
    font-family: $sansseriffont;
    margin: 0 $gutter/2;
    padding: 10px 0 0 0;
    #logo {
        position: absolute;
        width: $cols2 + $gutter;
        height: 90px;
        margin: 0;
        img {
            width: 100%;
        }
    }
    hgroup {
        float: left;
        width: $cols2 + $gutter;
        height: 90px;
        margin: 0;
        h2 {
            font-size: 1.1em;
            font-weight: normal;
            margin: 10px 10px;
            color: $headertext;
        }
    }
    nav {
        font-size: 1em;
        h2 {
            font-size: 1em;
            font-weight: normal;
            display: none;
            color: $navtext;
        }
        li {
            list-style: none;
        }
        a {
            text-decoration: none;
            color: $navlink;
            &.active-trail {
                font-weight: bold;
                color: $navselected;
            }
            &:hover {
                text-decoration: underline;
                color: $hovertext;
            }
        }
        #block-system-main-menu,
        #block-menu-menu-main-menu-authenticated-,
        #block-menu-menu-main-menu-administrator- {
            float: right;
            padding: 0;
            h2,
            li {
                font-size: 1em;
                margin: 0;
                padding: 0 0 0 .5em;
                text-transform: uppercase;
            }
            li {
                list-style: none;
            }
        }
        #block-system-user-menu,
        #block-user-login {
            clear: both;
            padding: .5em 0 0 0;
            h2,
            li {
                font-size: .9em;
                margin: 0;
                padding: 0 0 0 .6em;
            }
            ul,
            li {
                display: inline;
            }
            li {
                text-transform: uppercase;
            }
        }
        #block-user-login {
            h2 {
                display: block;
                cursor: pointer;
                text-transform: uppercase;
                color: $navlink;
                &:hover {
                    text-decoration: underline;
                    color: $hovertext;
                }
                &.selected {
                    font-weight: bold;
                    color: $navselected;
                    &:hover {
                        color: $hovertext;
                    }
                }
            }
            form {
                padding: 0 .5em;
                text-align: right;
                border: 1px solid $darkgreen;
                background: $lightgreen;
            }
        }
    }
}

footer {
    font-family: $sansseriffont;
    clear: left;
    margin: 0 0 0 $gutter;
    padding: 0 0 1.5em 0;
    text-transform: uppercase;
    nav {
        ul.menu {
            li {
                font-size: .9em;
                float: left;
                margin: 0 1.1em 0 0;
                padding: 0;
                list-style: none;
                a {
                    text-decoration: none;
                    color: $navlink;
                    &:hover {
                        text-decoration: underline;
                        color: $hovertext;
                    }
                }
            }
        }
    }
    div.region-footer-bottom {
        font-size: .9em;
        clear: left;
        padding-top: .5em;
        color: #666;
    }
}

div#main {
    clear: left;
    margin: 0;
    padding: 10px 0 20px 0;
    div#content-header {
        position: absolute;
        div.tabs {
            position: relative;
            z-index: 1501;
            top: .1em;
        }
    }
    div#page-title {
        margin: 0;
        padding: $gutter 0 0 0;
        background: $darkgreen;
        div.title-content {
            margin: 0 $gutter;
        }
        h1 {
            font-family: $seriffont;
            font-size: 1.5em;
            font-weight: normal;
            line-height: 1.2em;
            margin: 0;
            padding: 0 0 10px 0;
            color: $darktext;
            span {
                text-transform: capitalize;
                color: $white;
            }
        }
    }
    div.messages,
    #crm-container #help,
    #crm-container .help {
        font-family: $seriffont;
        font-size: .9em;
        line-height: 1.6em;
        margin-bottom: 1em;
        padding: 1em;
        color: #fff;
        border: 0 none;
        border-radius: 0;
        background: #004c56;
        p {
            margin: 0!important;
        }
        a {
            color: $lightgreen!important;
        }
        li {
            margin-left: 3em!important;
            padding-left: .3em!important;
            list-style: circle!important;
            background: none!important;
        }
        div.inform-icon {
            display: none;
        }
        div.bold {
            color: $white!important;
        }
    }
    div#main-content {
        div.content {
            margin: 0 $gutter;
            padding: $gutter 0;
            div.content {
                margin: 0;
                padding: 0;
            }
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-family: $seriffont;
                font-weight: normal;
                margin: 0 0 .3em 0;
                padding: .8em 0 0 0;
                color: $darktext;
            }
            p {
                margin: 0 0 .6em 0;
            }
            ul {
                margin: .3em 0 .8em 0;
            }
            li {
                margin: 0 0 .3em 0;
                padding: 0 0 0 18px;
                list-style: none;
                background: url('../images/main-bullet.png') 0 .3em no-repeat;
            }
            hr {
                clear: left;
                margin: 0 0 2em 0;
                padding: 1.5em 0 0 0;
                border-top: 0 none;
                border-right: 0 none;
                border-bottom: 2px dashed $darktext;
                border-left: 0 none;
                background: none;
            }
            div.header-dark,
            div.bold {
                font-family: $seriffont;
                font-weight: normal;
                color: $darktext;
                background: none;
            }
            div.header-dark {
                font-size: 1.2em;
                margin-top: 2em;
                padding: 0 0 .2em 0;
                border-bottom: 1px solid $darkgreen;
            }
            div.bold {
                margin-bottom: 1em;
            }
            div.field-name-field-sidebar-files div.field-item,
            div.field-name-field-links div.field-item,
            div.view-header li,
            div.views-field-registration-link-text,
            div.register_link-section,
            p.nextStep,
            div.iCal_links-section,
            span.user-page-link,
            div.event_info_link-section,
            div.links,
            div.views-field-edit-node span,
            div.view-header p.new-section {
                font-family: $sansseriffont;
                margin-bottom: .2em;
                text-transform: uppercase;
                color: $darktext;
                &::before {
                    content: '// ';
                }
                a {
                    font-size: .95em;
                    padding: 0!important;
                    text-decoration: none;
                    color: $darktext;
                    &:hover {
                        text-decoration: underline;
                        color: $hovertext;
                    }
                }
                img {
                    display: none;
                }
            }
            p.nextStep {
                display: none;
                margin: 2em 0 1em 0;
            }
            span.user-page-bullet {
                display: none;
            }
            div.group-sidebar {
                margin: 1.5em 0 0 0;
                div.field-name-field-sidebar-title div.field-item {
                    font-family: $seriffont;
                    font-size: 1.2em;
                    line-height: 1.4em;
                    margin: 0 0 .4em;
                    padding: 1em 0 .3em $gutter/2;
                    color: $white;
                    background: $darkgreen;
                }
                div.field-name-field-sidebar-files,
                div.field-name-field-links {
                    margin: 0 0 0 $gutter/2;
                }
            }
            span.crm-button {
                font-size: 1em!important;
                border: none!important;
                border-radius: 0!important;
            }
        }
    }
    div#main-content-footer {
        clear: left;
    }
    div#content-inner {
        position: relative;
        overflow: hidden;
        width: 100%;
        background: $lightgreen;
    }
    div#sidebar-frame {
        position: absolute;
        z-index: 1500;
        margin: 0;
        padding: 0;
    }
}

body.node-type-homepage {
    div#page-title {
        display: none;
    }
    div#main {
        div#main-content {
            div.region-content {
                width: auto;
                margin: 0;
            }
            div.content {
                margin: 0;
                padding: 0;
            }
        }
        div#sidebar-frame {
            display: none;
        }
    }
    div.group-dividertab {
        position: absolute;
        z-index: 1500;
        width: $cols9 + $gutter;
        height: $gutter;
        margin: 0;
        padding: 0;
        background: url('../images/horizontalbar-bg.png') top left no-repeat;
        h2 {
            display: none;
        }
    }
    div.group-content {
        padding: 30px 0;
        background: $darkgreen;
        div.field {
            margin: 0 $gutter;
        }
        div.field-name-field-blurb {
            margin-bottom: 1.5em;
            color: $darktext;
            div.field-item {
                font-family: $seriffont;
                font-size: 1.3em;
                line-height: 1.5em;
                text-shadow: 0 1px 0 #e1e1e8;
            }
        }
        div.field-name-body {
            font-family: $seriffont;
            margin-bottom: 1.5em;
            color: $white;
        }
    }
    div.group-images {
        div.field-item {
            position: absolute;
        }
        div.image-counter {
            position: absolute;
            width: $cols9 - $gutter;
            margin-top: 400px;
            text-align: right;
            li {
                float: right;
                width: 16px;
                height: 16px;
                margin: 0 10px 0 0!important;
                padding: 0!important;
                list-style: none!important;
                border-radius: 9px;
                background: none #dadcdc!important;
                a {
                    display: block;
                    width: 16px;
                    height: 16px;
                    border-radius: 9px;
                    background: $white;
                }
            }
        }
    }
}

body.node-type-standard {
    div#main-content {
        div.field-type-image {
            display: none;
        }
    }
}

body.page-contact {
    div#main-content {
        div.block-block div.content {
            padding-bottom: 0!important;
        }
        div.block-system div.content {
            padding-top: 0!important;
        }
        div.contactPerson,
        div.contactPhone {
            margin: 0;
        }
        div.contactPhone {
            a {
                text-decoration: none;
            }
        }
        div.form-item {
            label {
                font-size: .9em;
            }
            input.form-text {
                width: 95%;
            }
            textarea {
                width: 95%;
                height: 13em;
            }
        }
        div.form-actions {
            clear: left;
            padding: 1em 0 0 0;
        }
    }
}


body.page-courses,
body.page-instruct,
body.page-upcoming {
    div#main-content {
        div.view-header {
            h4 {
                font-size: 1.1em;
                padding-top: 0!important;
                color: $darktext!important;
            }
            li {
                padding-left: 0!important;
                background: none!important;
            }
        }
        div.view-content {
            clear: left;
            padding-top: 1em;
        }
        h3 {
            position: relative;
            left: -10px;
            clear: left;
            margin: 0 -20px .8em 0!important;
            padding: .5em 10px .4em 10px!important;
            background: #fff;
        }
        div.views-row {
            margin: 0 0 $gutter 0;
            border-bottom: 1px dashed $darkgreen;
        }
        div.views-field-title,
        div.views-field-nothing {
            font-family: $seriffont;
        }
        div.views-field-title {
            font-size: 1.1em;
            a {
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        div.views-field-nothing {
            font-size: .9em;
        }
        div.view-header {
            h4 {
                font-size: 1.1em;
                padding-top: 0!important;
                color: $darktext!important;
            }
            li {
                padding-left: 0!important;
                background: none!important;
            }
        }
        div.view-content {
            clear: left;
            padding-top: 1em;
        }
        h3 {
            position: relative;
            left: -10px;
            clear: left;
            margin: 0 -20px .8em 0!important;
            padding: .5em 10px .4em 10px!important;
            background: #fff;
        }
        div.views-row {
            margin: 0 0 $gutter 0;
            border-bottom: 1px dashed $darkgreen;
        }
        div.views-field-title,
        div.views-field-nothing {
            font-family: $seriffont;
        }
        div.views-field-title {
            font-size: 1.1em;
            a {
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        div.views-field-nothing {
            font-size: .9em;
        }
    }
}


body.page-resources,
body.page-resources-admin,
body.page-reports {
    div#main-content {
        div.view-header {
            font-family: $seriffont;
            margin: 0 0 1.5em 0;
        }
        div.views-row {
            margin: 0 0 $gutter 0;
            border-bottom: 1px dashed $darkgreen;
        }
        div.view-content {
            h3 {
                font-size: 1.3em;
                clear: left;
            }
        }
        div.views-field-title {
            font-family: $seriffont;
            font-size: 1em;
        }
        div.views-field-field-document {
            font-size: .9em;
            li {
                margin-left: 22px!important;
                padding: 0!important;
                background: none!important;
            }
            img {
                position: absolute;
                margin: .2em 0 0 -22px!important;
            }
            a {
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                    color: $hovertext;
                }
            }
        }
    }
}

body.page-resources,
body.page-resources-admin {
    div#main-content {
        div.views-field-title {
            font-size: 1.1em;
            color: $darktext;
        }
    }
}

body.page-civicrm-event {
    div#main-content {
        input.form-text,
        textarea,
        select {
            border: 1px solid $white!important;
            &.error {
                border: 2px solid $hovertext!important;
            }
        }
        div.status {
            margin-bottom: 2em!important;
        }
        input.form-text,
        textarea {
            width: 95%!important;
        }
        span.crm-error {
            display: block;
            margin: .1em 0 0 10em;
            color: $hovertext!important;
            background: none!important;
        }
        span.crm-error-label {
            margin: 0!important;
            padding: 0!important;
            color: $darktext!important;
        }
        div.price_set-section {
            div.content {
                label {
                    font-family: $bodyfont;
                    margin-left: .5em;
                    color: $black;
                }
            }
        }
        div.event_type-section {
            float: left;
            margin: 0!important;
            div.label {
                display: none;
            }
            div.content {
                font-family: $seriffont;
                font-size: 1.4em!important;
                line-height: 1.5em;
                color: $darktext;
            }
        }
        div.event_date_time-section {
            float: left;
            clear: left;
            width: 100%!important;
            div.label {
                display: none!important;
            }
            div.content {
                font-family: $sansseriffont;
                line-height: 1.5em;
                text-transform: uppercase;
                color: $darktext;
                abbr {
                    font-family: $seriffont;
                    white-space: nowrap;
                    text-transform: none;
                    border-bottom: none!important;
                }
                span {
                    padding: 0 .5em;
                }
            }
        }
        div.event_description-section {
            p {
                clear: left;
            }
        }
        div.crm-event-register-form-block,
        div.crm-event-confirm-form-block fieldset {
            div.label {
                font-size: .9em!important;
                float: none!important;
                width: 100%!important;
                text-align: left!important;
            }
            div.participant_note-section {
                span {
                    display: block;
                    margin: 0 0 .7em 0;
                }
                textarea#participant-note {
                    height: 5em;
                }
            }
        }
        div.event_address-section {
            float: none;
            clear: left;
            div.label {
                float: none!important;
                text-align: left!important;
            }
        }
        div.event_map-section {
            border: 6px solid #fff;
            background: #fff;
            br {
                display: none;
            }
            a {
                font-size: .8em;
                color: $darktext!important;
                &:hover {
                    text-decoration: underline!important;
                    color: $hovertext!important;
                }
            }
            div#google_map {
                width: 100%!important;
                border: 1px solid $darktext;
                a {
                    font-size: 1em;
                }
                br {
                    display: block;
                }
            }
        }
        div.register_link-top {
            float: none!important;
            clear: left;
            margin-bottom: 1em!important;
        }
        div.pay_later-section {
            div.label {
                display: none;
            }
            div.content {
                margin-left: 1em!important;
            }
        }
    }
}

body.node-type-webform {
    div#main-content {
        div.form-item {
            clear: left;
            label {
                font-size: .9em!important;
                display: block;
                text-align: left;
            }
            input {
                padding-left: 1px;
                vertical-align: middle;
                &.error {
                    border: 2px solid $hovertext;
                }
            }
            p {
                font-size: .9em;
                margin: 2em 0 .7em 0!important;
                color: #696969;
            }
        }
        div.form-actions {
            clear: left;
            padding: 1em 0 0 0;
        }
    }
}

body.node-type-resources,
body.node-type-course-report,
body.node-type-board-report {
    div.field-type-file {
        div.field-label {
            font-family: $seriffont;
            font-size: 1.2em;
            font-weight: normal;
            position: relative;
            left: -10px;
            margin: 0 -20px .8em 0 !important;
            padding: .5em 10px .4em !important;
            color: $darktext;
            background: #fff;
        }
        div.field-items {
            table {
                width: 100%;
            }
            tbody {
                border-top: 0 none;
            }
            tr {
                background: none;
            }
            th {
                display: none;
            }
            td {
                padding: .3em 0;
                text-align: right;
                span {
                    display: block;
                    text-align: left;
                }
            }
        }
    }
    div.field-name-field-start-date {
        margin: 0 0 .7em 0;
    }
}

body.page-user-password {
    div#main div#content-header {
        display: none;
    }
}

body.page-user-edit {
    div {
        &#main div#content-header {
            display: none;
        }
        &.password-strength {
            float: none;
            width: auto;
            margin: .5em 0 1em 0;
        }
        &.password-confirm {
            float: none;
            width: auto;
            margin: .1em 0 .1em 0;
        }
        &.password-suggestions {
            font-family: $seriffont;
            font-size: .9em;
            line-height: 1.6em;
            width: 95%;
            margin-bottom: 1em;
            padding: 1em;
            color: #fff;
            border: 0 none;
            background: #004c56;
            li {
                margin-left: 3em!important;
                padding-left: .3em!important;
                list-style: circle!important;
                background: none!important;
            }
        }
        &.password-parent,
        &.confirm-parent {
            width: auto;
        }
        &#main-content {
            div.crm-section {
                margin-top: .5em;
                margin-bottom: .5em;
            }
            div.label {
                font-size: .9em!important;
                float: none!important;
                width: 100%!important;
                text-align: left!important;
            }
            input.form-text,
            textarea,
            select {
                border: 1px solid $white!important;
                &.error {
                    border: 2px solid $hovertext!important;
                }
            }
            input.form-text,
            textarea,
            input.password-field {
                width: 95%!important;
            }
        }
        &.form-item-current-pass,
        &.form-item-pass {
            div.description {
                display: none;
            }
        }
        &.form-item-mail {
            display: none;
        }
    }
}

div.crm-actions-ribbon {
    display: none;
    li {
        margin-left: 0!important;
        padding-left: 0!important;
        background: none!important;
    }
}

div.register_link-section,
div.crm-submit-buttons {
    a {
        display: inline!important;
        float: none!important;
        border: none!important;
        background: none!important;
    }
    span {
        line-height: auto!important;
        display: inline!important;
        padding: 0!important;
        border: none!important;
        background: none!important;
        text-shadow: none!important;
    }
}

div.event_fees-section {
    margin-top: 1.5em;
    div.label {
        float: none!important;
        width: auto!important;
        text-align: left!important;
    }
    td.price-set-field-label {
        padding-left: 0!important;
    }
    td.price-set-option-group-label {
        font-family: $seriffont;
        padding-left: 0!important;
        color: $darktext;
    }
    td.price-set-option-label {
        padding-left: 0!important;
    }
}


label,
div.label {
    font-family: $seriffont;
    font-weight: normal;
    color: $darktext;
}

#crm-container .crm-section .label,
.crm-section .label {
    width: 8em;
    margin-right: .7em;
}

.ac-results-inner,
.crm-participant-list-inner,
.crm-event-links-list-inner,
.crm-contribpage-links-list-inner,
.crm-create-new-list-inner,
.crm-contact-actions-list-inner {
    border: 1px solid $darktext;
    background: #fff;
}

#printer-friendly {
    display: none;
}

input {
    &.form-text {
        font-family: 'Helvetica', 'Arial', sans-serif;
        width: 95%;
        border: 1px solid $white;
        background: $white;
    }
    &.form-submit,
    &.crm-form-submit {
        font-family: $seriffont!important;
        font-size: 1em!important;
        padding: .35em .7em .2em .7em!important;
        text-transform: uppercase!important;
        color: $white!important;
        border: 1px solid $darkgreen!important;
        border-radius: 0!important;
        background: $darkbackground!important;
        text-shadow: none!important;
        &:hover {
            color: $darktext!important;
            background: $darkgreen!important;
        }
    }
}
textarea {
    font-family: 'Helvetica', 'Arial', sans-serif;
    width: 95%;
    border: 1px solid $white;
    background: $white;
}


// Example programme formatting
ul.programmeTable {
    font-family: $seriffont;
    font-size: 1.4em;
    height: 1.1em;
    li {
        font-weight: 700;
        float: left;
        padding: 0 1em 0 0!important;
        list-style-type: none;
        background: none!important;
        a {
            font-weight: 400;
        }
    }
}

table.programmeTable {
    width: 100%;
    margin: .5em 0 3em 0;
    td {
        padding: .8em 1em .3em 1em;
        vertical-align: top;
        border-bottom: 1px solid $darkgreen;
        &.time {
            font-family: $sansseriffont;
            font-size: 1.1em;
            width: 8em;
            text-align: center;
            white-space: nowrap;
            color: $darktext;
            border-bottom: 1px solid #fff;
            background: $darkgreen;
        }
        &.break {
            font-style: italic;
            text-transform: uppercase;
            background: #e8e8e8;
        }
    }
}
// Format the tabs
ul.tabs {
    margin: 0;
    padding: 0;
    border-bottom: none;
    li {
        font-family: $bodyfont;
        &.active {
            display: none;
        }
        a {
            color: $white;
            border: 1px solid $darkgreen;
            background: $darkgreen;
            &:hover {
                color: $hovertext;
                border: 1px solid $darkgreen;
                background: $lightgreen;
            }
        }
    }
}

// Field required style
.marker,
.form-required,
#crm-container .crm-marker {
    font-family: $seriffont;
    font-weight: normal!important;
    color: $hovertext!important;
}
