#page {
    width: $cols9 + $gutter;
}

header {
    margin: 0;

    #logo {
        margin: 0 0 0 $gutter;
    }
    
    hgroup {
        margin: 0 0 0 $gutter;
    }
       
    nav {
        float: right;
        width: $cols7 - $gutter;
                        
        div.content, ul, li {
            display: inline;
        }
        
        #block-system-main-menu, #block-menu-menu-main-menu-authenticated-  {
            float: none; 
            padding: 15px 0 5px 0;
            border-bottom: 3px solid $darkgreen;
            
            h2, li {
                padding: 0 0 0 1.1em;
            }
        
            h2 {
                display: block;
            }
            
            li {
                display: inline;
            }
        }        
        
        #block-system-user-menu, #block-user-login {        
            text-align: right;
            position: absolute;
            top: 10px;
            width: $cols7 - $gutter;
            clear: none;
            padding: 0;
            z-index: 2000;
            
            h2 {
                display: inline;
            }
        }
        
        #block-user-login {
                        
            div.content {
                display: block;
                margin: 0 0 0 30px;
            }
            
            form {            
                position: absolute;    
                z-index: 2000; 
                width: $cols6;
                padding: 0 1em 0 0;
            }
            
            label {
                display: inline;
                padding: 0 0.5em 0 0;
            }
            
            span.form-required {
                display: none;
            }
            
            input.form-text {
                width: $cols3!important;
            }
            
            
            ul li {            
                text-transform: uppercase;
                font-family: $sansseriffont;
                color: $darktext; 
            
                &::before {
                    content: "\\\\ ";
                }
            
                a {
                    color: $darktext;                
                    text-decoration: none;
                
                    &:hover {
                        text-decoration: underline;
                        color: $hovertext;
                    }
                }
            }                     
        }
    }
}

footer {
    margin: 0;
}

div#main {
    padding: 20px 0;
    
    div#page-title {
        width: $cols9 + $gutter;
        
        h1 {
            font-size: 1.9em;
        }
    }
    
    div#content-header {        
        div.tabs {
            top: -1.5em;
        }
    }
    
    div#main-content {        
        div.region-content {
            width: $cols9 + $gutter;
        }
    }

    div#sidebar-frame {
        width: $cols9 + $gutter;
        height: $gutter;
        background: url('../images/horizontalbar-bg.png') top left no-repeat;
    }
}

body.node-type-homepage {   
    div.group_content {
        width: $cols9 + $gutter;
    }
    
    div.group_images {
        width: $cols9 + $gutter;
        height: 455px; 
    }
}

body.node-type-standard {
    div#main-content {
        div.field-type-image {
            display: block;
            
            div.field-item {
                border: 6px solid #fff;
                clear: right;
                float: right;
                font-size: 10px;
                line-height: 10px;
                margin: 0 0 2em 2em;
                
                a {
                    font-size: 1em;
                    line-height: 1em;
                }
                
                img {
                    border: 1px solid $darktext;
                }
            } 
        }
    }
}

body.page-contact {    
    div#main-content {            
        div.contactPerson, div.contactPhone {
            width: $cols4;
            float: left;
            margin-right: $gutter;  
        }

        div.form-item {
            clear: left;
            
            label {
                float: left;
                margin-right: 0.7em;
                text-align: right;
                width: 11.5em;
            }
            
            input {
                width: 380px!important;
            }
                
            textarea {
                float: left;
                width: 380px!important;
            }
        }
        
        div.form-actions {
            margin-left: 11em;
        }
    }
}

body.page-courses {
    div#main-content {
        div.views-row {
            width: $cols4;
            margin: 0 $gutter $gutter 0;
            padding: 0 0 $gutter/2 0;
            float: left;
        }
        
        div.views-row-odd {
            clear: left;
        }
        
        div.view-header {        
            li {
                float: left;
                width: $cols3;
            }
        }
    }
}

body.page-civicrm-event {
    div#main-content {
        
        input.form-text, textarea {
            width: auto!important;
        }
        
        div.event_address-section {
            float: right;
            width: $cols3 + $gutter;
            
            div.label {
                text-align: left!important;
                float: none!important;
            }
        }
        
        div.event_date_time-section {
            width: 74%!important;
        }
        
        div.event_map-section {
            width: $cols5;
                    
            div#google_map {
                width: $cols5!important;
            }
        }
        
        div.register_link-top {
           clear: none!important;
           float: right!important;
           margin-top: -0.7em!important;
           margin-left: 0!important;
        }
        
        div.price_set-section, div.email-section {
            div.label {
                width: 10.5em!important;
            }
        }
        
        div.price_set-section {        
            div.content {
                margin-left: 11.5em!important;
            }
        }
        
        div.event-info {
            div.messages {
                clear: both;
            }            
        }
        
        div.crm-event-register-form-block,
        div.crm-event-confirm-form-block fieldset {
            div.label {
                float: left!important;
                font-size: 0.9em!important;
                text-align: right!important;
                width: 10.5em!important;                
            }            
            
            p {
                margin: 2em 0 0.7em 40px!important;
            }
                
            div.participant_note-section {                
                span {
                    margin: 0 0 0.7em 40px;
                }
                
                textarea {
                    width: 400px!important;
                }
            }
            
            div.crm-submit-buttons {
                margin-left: 10em;
            }
        }
    }
}

body.node-type-webform {
    div#main-content {
        div.form-item {            
            label {
                float: left;
                margin-right: 0.7em;
                text-align: right;
                width: 10.5em!important;
            }
            
            p {
                margin: 2em 0 0.7em 40px!important;
            }
            
            div.form-textarea-wrapper {
                float: left;
                
                textarea {
                    width: 400px;
                }
            }
        }
            
        div.form-actions {
            margin-left: 10em;
        }
    }
}

input {
    &.form-text {
        width: auto!important;
    }
}