#page {
    width: $cols9 + $gutter/$em;
}

header {
    margin: 0;

    #logo {
        margin: 0 0 0 $gutter;
    }
    
    hgroup {
        margin: 0 0 0 $gutter;
    }
       
    nav {
        float: right;
        width: $cols7 - $gutter/$em;
                        
        div.content, ul, li {
            display: inline;
        }
        
        #block-system-main-menu {
            float: none; 
            padding: 15px 0 5px 0;
            border-bottom: 3px solid $darkgreen;
            
        
            h2 {
                display: block;
            }
            
            li {
                display: inline;
            }
        }        
        
        #block-system-user-menu, #block-user-login {        
            text-align: right;
            position: absolute;
            top: 10px;
            width: $cols7 - $gutter/$em;
            clear: none;
            padding: 0;
            
            h2 {
                display: inline;
            }
        }
        
        #block-user-login {
                        
            div.content {
                display: block;
                margin: 0 0 0 30px;
            }
            
            form {            
                position: absolute;    
                z-index: 2000; 
                width: $cols6;
                padding: 0 1em 0 0;
            }
            
            label {
                display: inline;
                padding: 0 0.5em 0 0;
            }
            
            span.form-required {
                display: none;
            }
            
            input.form-text {
                width: $cols3;
            }
            
            
            ul li {            
                text-transform: uppercase;
                font-family: $sansseriffont;
                color: $darktext; 
            
                &::before {
                    content: "\\\\ ";
                }
            
                a {
                    color: $darktext;                
                    text-decoration: none;
                
                    &:hover {
                        text-decoration: underline;
                        color: $hovertext;
                    }
                }
            }                     
        }
    }
}

footer {
    margin: 0;
}

div#main {
    padding: 20px 0;
    
    div#page-title {
        width: $cols9 + $gutter/$em;
        
        h1 {
            font-size: 1.9em;
        }
    }
    
    div#content-header {        
        div.tabs {
            top: -1.5em;
        }
    }
    
    div#main-content {        
        div.region-content {
            width: $cols9 + $gutter/$em;
        }
    }

    div#sidebar-frame {
        width: $cols9 + $gutter/$em;
        height: $gutter;
        background: url('../images/horizontalbar-bg.png') top left no-repeat;
    }
}

body.node-type-homepage {        
    div.group_content {
        width: $cols9 + $gutter/$em;
    }
    
    div.group_images {
        width: $cols9 + $gutter/$em;
        height: 455px;  
    }
}

body.node-type-standard {
    div.field-type-image {
        div.field-item {
            border: 6px solid #fff;
            clear: right;
            float: right;
            font-size: 10px;
            line-height: 10px;
            margin: 0 0 2em 2em;
            
            a {
                font-size: 1em;
                line-height: 1em;
            }
            
            img {
                border: 1px solid $darktext;
            }
        } 
    }
}

body.page-contact {    
    div#main-content {            
        div.contactPerson, div.contactPhone {
            width: $cols4;
            float: left;
            margin-right: $gutter;  
        }
    }
}

body.page-courses {
    div.views-row {
        width: $cols4;
        margin: 0 $gutter $gutter 0;
        padding: 0 0 $gutter/2 0;
        float: left;
    }
    div.views-row-odd {
        clear: left;
    }
}

body.page-civicrm-event {
    div.event_address-section {
        float: right;
        width: $cols3 + $gutter/$em;
        
        div.label {
            text-align: left!important;
            float: none!important;
        }
    }
    
    
    div.event_map-section {
        background: #fff;
        border: 6px solid #fff;
        width: $cols5;
                
        br {
            display: none;
        }
        
        a {
            color: $darktext!important;
            font-size: 0.8em;
            
            &:hover {
                color: $hovertext!important;
                text-decoration: underline!important;
            }
        }
        
        div#google_map {
            width: $cols5!important;
            border: 1px solid $darktext;
                        
            a {
                font-size: 1em;
            }
            
            br {
                display: block;
            }
        }
    }
    
    div.price_set-section, div.email-section {
        div.label {
            width: 10.5em!important;
        }
    }
    
    div.price_set-section {        
        div.content {
            margin-left: 11.5em!important;
        }
    }
}

input {
    &.form-text {
        width: inherit;
    }
}