@import 'frameless';

@import url(http://fonts.googleapis.com/css?family=Pontano+Sans);
@import url(http://fonts.googleapis.com/css?family=Merriweather);
$hovertext: #f33;
$headertext: #414042;
$navtext: #ccc;
$navlink: #333;
$navselected: #787778;
$darktext: #05515b;
$darkgreen: #98cccd;
$lightgreen: #e5f4f3;
$darkbackground: #004c56;
$black: #000;
$white: #fff;
$seriffont: 'Merriweather', 'Georgia', 'Times', 'Times New Roman', serif;
$sansseriffont: 'Pontano Sans', 'Helvetica', 'Arial', sans-serif;
$bodyfont: 'Helvetica', 'Arial', sans-serif;

@import 'core';

@media screen and (min-width: 40.5em) {
    @import 'tablet';
}

@media screen and (min-width: 61.5em) {
    @import 'desktop';
}

html.ie {
    @import 'tablet';
    @import 'desktop';
}

@import 'ie';
@import 'zoom';
