@import "frameless";

@import url(http://fonts.googleapis.com/css?family=Pontano+Sans);
@import url(http://fonts.googleapis.com/css?family=Merriweather);

$hovertext: #ff3333;
$headertext: #414042;
$navtext: #ccc;
$navlink: #333;
$navselected: #787778;
$darktext: #05515b;
$darkgreen: #98cccd;
$lightgreen: #e5f4f3;
$darkbackground: #004c56;
$white: #fff;

$seriffont: 'Merriweather', 'Georgia', 'Times', 'Times New Roman', serif;
$sansseriffont: 'Pontano Sans', 'Helvetica', 'Arial', sans-serif;
$bodyfont: 'Helvetica', 'Arial', sans-serif;

body {
    line-height: 1.5em;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

a {
    color: $darktext;
    
    &:hover {
        color: $hovertext;    
    }
}

#page {
    margin: 0 auto;
}

header {
    margin: 0 $gutter;
    padding: 10px 0 0 0;
    font-family: $sansseriffont;
    
    #logo {
        position: absolute;
        height: 90px;
        width: $cols2 + $gutter/$em;
        margin: 0 0 0 $gutter;
        
        img {
            width: 100%;
        }
    }
    
    hgroup {
        width: $cols2 + $gutter/$em;
        height: 90px;
        float: left;
        margin: 0 0 0 $gutter;
        
        h2 {
            margin: 10px 10px;
            font-size: 1.1em;
            font-weight: normal;
            color: $headertext;
        }
    }    
    
    nav {
        font-size: 1em;
                  
        h2 {
            display: none;
            font-size: 1em;
            color: $navtext;
            font-weight: normal;
        }
        li {
            list-style: none;
        }
        
        a {
            color: $navlink;
            text-decoration: none;
            
            &.active-trail {
                font-weight: bold;
                color: $navselected;
            }
            
            &:hover {
                color: $hovertext;
                text-decoration: underline;
            }
        }
        
        #block-system-main-menu {
            padding: 0;
                
            h2, li {
                font-size: 1em;
                margin: 0;
                padding: 0 0 0 1.1em;
                text-transform: uppercase;     
            }
        }
        
        #block-system-user-menu, #block-user-login {        
            text-align: right;
            position: absolute;
            top: 10px;
            
            h2 {
                display: inline;
            }
            
            h2, li {                
                font-size: 0.9em;
                margin: 0;
                padding: 0 0 0 0.6em;
            }
            
            li {
                text-transform: uppercase;
            }
        }
        
        #block-user-login {
            h2 {
                text-transform: uppercase;
                cursor: pointer;
                color: $navlink;
                
                &:hover {
                    text-decoration: underline;
                    color: $hovertext;
                }
                
                &.selected {
                    color: $navselected;
                    font-weight: bold;
                    
                    &:hover {                       
                        color: $hovertext;
                    }
                }
            }
            
            div.content {
                display: block;
                margin: 0 0 0 30px;
            }
            
            form {            
                position: absolute;    
                z-index: 2000; 
                border: 1px solid $darkgreen;
                width: $cols6;
                background: $lightgreen;
                padding: 0 1em 0 0;
            }
            
            label {
                display: inline;
                padding: 0 0.5em 0 0;
            }
            
            span.form-required {
                display: none;
            }
            
            input.form-text {
                width: $cols3;
            }
            
            
            ul li {            
                text-transform: uppercase;
                font-family: $sansseriffont;
                color: $darktext; 
            
                &::before {
                    content: "\\\\ ";
                }
            
                a {
                    color: $darktext;                
                    text-decoration: none;
                
                    &:hover {
                        text-decoration: underline;
                        color: $hovertext;
                    }
                }
            }                     
        }
    }
}

footer {
    clear: left;
    margin: 0 0 0 $gutter;
    padding: 0 0 1.5em 0;
    text-transform: uppercase;
    font-family: $sansseriffont;
    
    nav {
        ul.menu {               
            li {
                list-style: none;
                float: left;
                margin: 0 1.1em 0 0;
                padding: 0;
                font-size: 0.9em;
                
                a {
                    color: $navlink;
                    text-decoration: none;
                    
                    &:hover {
                        text-decoration: underline;
                        color: $hovertext;
                    }
                }
            }
        }
    }
    
    div.region-footer-bottom {
        clear: left;
        padding-top: 0.5em;
        color: #666;
        font-size: 0.9em;
    }
}

div#main {
    clear: left;
    padding: 20px 0 20px 0;
    margin: 0 $gutter;
    
    div#content-header {
        position: absolute;
        
        div.tabs {
            position: relative;
            top: -1.5em;
        }
    }
    
    div#page-title {
        padding: $gutter 0 0 0;
        margin: 0;
        background: $darkgreen;
        
        div.title-content {
            margin: 0 $gutter;
        }
        
        h1 {
            font-size: 1.9em;
            line-height: 1.2em;
            font-family: $seriffont;
            font-weight: normal;
            color: $darktext;
            margin: 0;
            padding: 0 0 7px 7px;
        }
    }
    
    div#main-content {    
        div.content {
            margin: 0 $gutter;
            padding: $gutter 0;
            
            div.content {
                margin: 0;
                padding: 0;
            }
            
            h2, h3, h4, h5, h6 {
                font-family: $seriffont;
                color: $darktext;
                font-weight: normal;
                margin: 0 0 0.3em 0;
                padding: 0.8em 0 0 0;
            }
            
            p {
                margin: 0 0 0.6em 0;
            }     

            ul {
                margin: 0.3em 0 0.8em 0;
            }
            
            li {
                margin: 0 0 0.3em 0;
                padding: 0 0 0 18px;
                list-style: none;
                background: url('../images/main-bullet.png') 0 0.3em no-repeat;
            }
            
            hr {
                border-top: 0px none;
                border-bottom: 2px dashed $darktext;
                border-left: 0px none;
                border-right: 0px none;
                margin: 0 0 2em 0;
                padding: 1.5em 0 0 0;
                background: none;
                clear: left;
            }
        
            div.field-name-field-sidebar-files div.field-item,
            div.field-name-field-links div.field-item {
                text-transform: uppercase;
                font-family: $sansseriffont;
                color: $darktext;
                margin-bottom: 0.2em;
                
                &::before {
                    content: "\\\\ ";
                }
                
                a {
                    color: $darktext;                
                    text-decoration: none;
                    font-size: 0.95em;
                    
                    &:hover {
                        text-decoration: underline;
                        color: $hovertext;
                    }
                }
                
                img {
                    display: none;
                }
            }
            
            div.group_sidebar {
                margin: 1.5em 0 0 0;
            
                div.field-name-field-sidebar-title div.field-item {
                    font-size: 1.2em;
                    line-height: 1.4em;
                    margin: 0 0 0.4em;
                    color: #fff;
                    font-family: $seriffont;                 
                    padding: 1em 0 0.3em $gutter/2;
                    background: $darkgreen;
                }
                div.field-name-field-sidebar-files,
                div.field-name-field-links {
                    margin: 0 0 0 $gutter/2;
                }
            }
        }
    }
    
    div#main-content-footer {
        clear: left;
    }
    
    div#content-inner {
        background: $lightgreen;
        overflow: hidden;
        position: relative;
        width: 100%;
    }
    
    div#sidebar-frame {
        position: absolute;
        z-index: 1500;
        margin: 0;
        padding: 0;
    }
}

body.node-type-homepage {

    div#page-title {
        display: none;
    }
    
    div#main {
        div#main-content {
            div.region-content {
                width: auto;
                margin: 0;
            }
            
            div.content {
                padding: 0;
                margin: 0;
            }
        }
        
        div#sidebar-frame {
            display: none;
        }
    }
        
    div.group-dividertab {
        width: $cols9 + $gutter/$em;
        position: absolute;
        height: $gutter;
        margin: 0;
        padding: 0;
        z-index: 1500;
        background: url('../images/horizontalbar-bg.png') top left no-repeat;
        
        h2 {
            display: none;
        }
    }
    
    div.group_content {
        padding: 30px 0;
        background: $darkgreen;
        
        div.field {
            margin: 0 $gutter;
        }
        
        div.field-name-field-blurb {
            color: $darktext;
            margin-bottom: 1.5em;
            
            div.field-item {
                font-size: 1.3em;
                line-height: 1.5em;   
                font-family: $seriffont;
                text-shadow: 0px 1px 0px #e1e1e8;
            }
        }
        
        div.field-name-body {
            color: $white;
            margin-bottom: 1.5em;
            font-family: $seriffont;
        }
    }
    
    div.group_images {        
        div.field-item {
            position: absolute;
        }
        
        div.image-counter {
            position: absolute;
            margin-top: 400px;
            text-align: right;
            width: $cols9 - $gutter/$em;
            
            li {
                float: right;
                width: 16px;
                height: 16px;
                background: none #dadcdc!important;
                -moz-border-radius: 9px;
                -webkit-border-radius: 9px;
                -khtml-border-radius: 9px;
                border-radius: 9px;
                list-style: none!important;
                margin: 0 10px 0 0!important;
                padding: 0!important;
                
                a {
                    display: block;
                    height: 16px;
                    width: 16px;
                    -moz-border-radius: 9px;
                    -webkit-border-radius: 9px;
                    -khtml-border-radius: 9px;
                    border-radius: 9px;
                    background: #fff;
                }
            }
        }        
    }
}

body.page-contact {
    
    div#main-content {
        div.block-block div.content {
            padding-bottom: 0!important;
        }
        div.block-system div.content {
            padding-top: 0!important;
        }
        
        div.contactPerson, div.contactPhone {
            margin: 0;
        }
        
        div.contactPhone {
            a {
                text-decoration: none;
            }
        }
                
        textarea {
            height: 15em;
        }
    }
}


label {
    font-weight: normal;
    font-family: $seriffont;
    color: $darktext;
}
input {
    &.form-text {
        background: #fff;
        border: 1px solid #fff;
        font-family: 'Helvetica', 'Arial', sans-serif;
    }
    &.form-submit {
        background: $darkbackground;
        text-transform: uppercase;
        border: 1px solid $darkgreen;
        font-family: $seriffont;
        color: #fff;
        padding: 0.3em 0.7em 0.2em 0.7em;
                
        &:hover {
            background: $darkgreen;
        }
    }
}
textarea {
    border: 1px solid #fff;
    background: #fff;
    font-family: 'Helvetica', 'Arial', sans-serif;
}


// Format the tabs
ul.tabs {
    border-bottom: none;
    margin: 0;
    padding: 0;
    
    li {
        font-family: $bodyfont;
        
        &.active {
            display: none;
        }
        a {
            color: $white;
            border: 1px solid $darkgreen;
            background: $darkgreen;
            
            &:hover {
                color: $hovertext;
                border: 1px solid $darkgreen;
                background: $lightgreen;
            }     
        }
    }
}

@media screen and (min-width: 43.5em) {
    @import "tablet";
}

@media screen and (min-width: 64.5em) {
    @import "desktop";
}

html.ie {
    @import "desktop";
    @import "ie";
}
@import "zoom";